div:nth-of-type(1) img
{
	width: 30%;
	float: left;
	margin: 1.6%;
}

p:nth-of-type(1)
{
	font-style: bold;
	font-weight: 2px;
	margin-bottom: 0px;
	margin-left: 1.6%;
	text-transform: uppercase;
	font-weight: 800;
}
