td
{
	height: 100px;
	width:  100px;
	grid-column-gap: 0px;	
}

.borderTop{
	border-top-style:  ridge;
}

.borderLeft {
	border-left-style:  ridge;
}

.borderBottom{
	border-bottom-style:  ridge;
}

.borderRight{
	border-right-style:  ridge;
}


